.button {
  background: var(--var-color-lightest);
  padding: 0.4rem 1.3rem;
  font-size: 1.3rem;
  border-radius: 5px;
  transition: scale 100ms ease-out;
  border: none;
  outline: none;
}

.button p {
  font-size: clamp(0.7rem, 2vw, 1.3rem);
  color: var(--var-color-dark);
}

.button:hover p {
  color: var(--var-color-mid);
}

.button:active {
  scale: 0.95;
}
