.switch-field {
	display: flex;
	overflow: hidden;
	gap: 0.6rem;
}

.switch-field input {
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: var(--var-color-fonts-dark);
	font-size: 1.3rem;
	text-align: center;
	padding: 0.2rem 1.3rem;
	border-radius: 5px;
	transition: scale 100ms ease-out;
	border: none;
	outline: none;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background: var(--var-color-lightest);
	box-shadow: none;
}